<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<div class = "parallax">
<h1> ERROR </h1>
<h2><%= error %></h2>

<a href = "/admin/home">
<button class="btn" type = "submit">Go Home</button>
</a>
</div>
</body>
</html>